spring:
  application:
    name: financial-simulation-api
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/financial_simulation_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect